.tile {
  display: grid;
  place-content: center;
  width: 80px;
  height: 80px;
}

.tile .chess-piece {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.black-tile {
  background-color: lightgray;
}

.white-tile {
  background-color: #fffff7;
}

.tile .chess-piece-image {
  width: 60px;
}

.tile-highlight:not(.chess-piece-tile)::before {
  content: ' ';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

.tile-highlight.chess-piece-tile::before {
  position: absolute;
  content: ' ';
  width: 72px;
  height: 72px;
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
