.tile {
  display: grid;
  place-content: center;
  width: 80px;
  height: 80px;
}

.tile .chess-piece {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.black-tile {
  background-color: lightgray;
}

.white-tile {
  background-color: #fffff7;
}

.tile .chess-piece-image {
  width: 60px;
}
