#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  width: 640px;
  height: 640px;
}

.modal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.modal.hidden {
  display: none;
}

.modal > .modal-body {
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 320px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 240px;
  width: 640px;
  background-color: rgba(127, 127, 127, 0.7);
}

.modal > .modal-body > img {
  height: 96px;
  padding: 16px;
  border-radius: 50%;
}

.modal > .modal-body > :hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.modal > .modal-body > .checkmate-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal > .modal-body > .checkmate-body > span {
  font-size: 26px;
}

.modal > .modal-body > .checkmate-body > button {
  background-color: cyan;
  border: none;
  border-radius: 7px;
  padding: 20px 40px;
  font-size: 30px;
  color: black;
}

.modal > .modal-body > .checkmate-body > button:hover {
  cursor: pointer;
}
